In [26]:
import numpy as np 
import pandas as pd 
import datetime

fl = pd.read_csv('icc/india-player.csv')

In [27]:
fl['Date of birth'] = pd.to_datetime(fl['Date of birth'])
fl

,Name,Date of birth,Team,Batting Style,Bowling Style,ODI Debut,Debut Team,Matches played,Innings,Total Run,Not Out,Highe Score,Batting Avg,Balls faced,Stick rate,100s,50s,4s,6s,Caught,Stumped,Balls,Runs,Wickets,Bowling Avg,Economy,Stick rate.1,5WI,10WM,BBI,BBM
0,Aashish Rakesh Kapoor,1971-03-25,INDIA,Right-hand bat,Off-break,"February 22,1995",Australia v India,17,6,43,0,19,7.166,63,68.25,0,0,2,1,1,0,900,612,8,76.50,4.080,112.5,0,0,2/19,2/29
1,Aavishkar Madhav Salvi,1981-10-20,INDIA,Right-hand bat,Right-arm medium,"April 11,2003",Bangladesh v India,4,3,4,1,4*,2.000,14,28.57,0,0,0,0,2,0,172,120,4,30.00,4.186,43.00,0,0,2/15,2/15
2,Abey Kuruvilla,1968-04-08,INDIA,Right-hand bat,Right-arm fast-medium,"April 26,1997",West Indies v India,25,11,26,4,7,3.714,43,60.46,0,0,1,1,4,0,1131,890,25,35.60,4.721,45.24,0,0,4/43,4/43
3,Abhijit Vasant Kale,1973-03-07,INDIA,Right-hand bat,Off-break,"April 16,2003",Bangladesh v India,1,1,10,0,10,10.00,22,45.45,0,0,1,0,--,--,--,--,--,--,--,--,--,--,NaN,NaN
4,Abhimanyu Mithun,1989-10-25,INDIA,Right-hand bat,Right-arm medium,"February 27,2010",India v South Africa,5,3,51,0,24,17.00,55,92.72,0,0,2,4,1,0,180,203,3,67.66,6.766,60.00,0,0,2/25,2/25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Yashpal Sharma,1954-11-08,INDIA,Right-hand bat,Right-arm medium,"October 13,1978",Pakistan v India,42,40,883,9,89,28.48,1360,64.92,0,4,44,2,10,0,201,199,1,199.0,5.940,201.0,0,0,1/6,1/6
200,Yograj Singh Bhagsingh Bhundel,1958-03-25,INDIA,Right-hand bat,Right-arm fast-medium,"December 21,1980",India v New Zealand,6,4,1,2,1,0.500,12,8.333,0,0,0,0,2,0,244,186,4,46.50,4.573,61.00,0,0,2/44,2/44
201,Yusuf Khan Pathan,1984-11-27,INDIA,Right-hand bat,Off-break,"June 10,2008",India v Pakistan,57,41,810,11,123*,27.00,713,113.6,2,3,62,43,17,0,1490,1365,33,41.36,5.496,45.15,0,0,3/20,3/20
202,Yuvraj Singh,1981-12-12,INDIA,Left-hand bat,"Slow left-arm, Left-arm medium","October 3,2000",Kenya v India,304,278,8701,40,150,36.55,9925,87.66,14,52,908,155,94,0,5048,4294,111,38.68,5.103,45.47,1,0,5/31,5/31
203,Zaheer Khan,1978-07-10,INDIA,Right-hand bat,Left-arm fast-medium,"October 3,2000",Kenya v India,200,101,792,35,34*,12.00,1078,73.46,0,0,69,24,43,0,10097,8301,282,29.43,4.932,35.80,1,0,5/29,5/42

In [28]:
fl['Debut Team'] = fl['Debut Team'].str.lower()
deb = fl['Debut Team'].apply(lambda x: x.split(' v '))

In [29]:
fl['Team'] = fl['Team'].str.lower()
k = iter(range(fl.shape[0]))
def te(x):
    global k
    if x[0] == (fl['Team'][next(k)]):
        return x[1]
    else:
        return x[0]
    
fl['Debut Team']= deb.apply(te)
#a = fl['Debut Team'][1962][0]
#b = fl['Team'][1962]
fl['Debut Team']

0         australia
1        bangladesh
2       west indies
3        bangladesh
4      south africa
           ...
199        pakistan
200     new zealand
201        pakistan
202           kenya
203           kenya
Name: Debut Team, Length: 204, dtype: object

In [30]:
pd.set_option('display.max_columns', 31)
pd.set_option('display.max_rows', 50)

In [31]:
fl['Highe Score'] = fl['Highe Score'].str.replace('*','')

In [32]:
def rep(x, a, b, c):
    if c == True:
        pass
    return x.replace(a,b)

fl = fl.apply(rep, args=('--','0', False ))
fl = fl.apply(rep, args=('NaN','0', False ))

In [33]:
fl.fillna(value=0, inplace=True)
Dat = fl['ODI Debut'].str.replace(',', '-') 
fl['ODI Debut'] = pd.to_datetime(Dat)

In [34]:
cols = fl.columns[7:-2]

fl[cols] = fl[cols].apply(pd.to_numeric)

#fl[fl['Bowling Style'] == 0]
fl['Bowling Style'] = fl['Bowling Style'].map(lambda s: str(s).replace('0', 'Not-Bowled')) 
fl['Batting Style'] = fl['Batting Style'].map(lambda s: str(s).replace('0', 'Right-hand bat')) 


#fl.to_csv('india_players.csv', index = False)

In [24]:
ODI = pd.read_csv('all_player.csv')
#ODI.groupby('Team').count()
ODI.shape

(1967, 31)

In [11]:
ODI.groupby('Team').count()

,Name,Date of birth,Batting Style,Bowling Style,ODI Debut,Debut Team,Matches played,Innings,Total Run,Not Out,Highe Score,Batting Avg,Balls faced,Stick rate,100s,50s,4s,6s,Caught,Stumped,Balls,Runs,Wickets,Bowling Avg,Economy,Stick rate.1,5WI,10WM,BBI,BBM
Team,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
AFGHANISTAN,32,32,32,29,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,23,23
AUSTRALIA,205,205,205,177,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,147,147
BANGLADESH,109,109,109,91,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,75,75
ENGLAND,234,234,234,223,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,160,160
HONG KONG,30,30,30,26,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,12,12
INDIA,204,204,204,186,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,143,143
IRELAND,41,41,41,36,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,27,27
NETHERLANDS,61,61,60,54,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,44,44
NEW ZEALAND,184,184,184,166,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,130,130
PAKISTAN,198,198,198,189,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,143,143
SCOTLAND,53,53,53,44,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,30,30
SOUTH AFRICA,115,115,115,112,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,91,91
SRI LANKA,163,163,163,146,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,118,118
UNITED ARAB EMIRATES,49,49,49,43,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,27,27
WEST INDIES,172,172,171,159,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,122,122
ZIMBABWE,117,117,117,111,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,92,92

In [12]:
fl[fl['Team'] == 'india'].loc[:,['Team', 'Debut Team']]

      Team    Debut Team
184  india     australia
185  india    bangladesh
186  india   west indies
187  india    bangladesh
188  india  south africa
..     ...           ...
383  india      pakistan
384  india   new zealand
385  india      pakistan
386  india         kenya
387  india         kenya

[204 rows x 2 columns]

In [13]:
ODI['Debut Team'][184:388]

184       Australia v India
185      Bangladesh v India
186     West Indies v India
187      Bangladesh v India
188    India v South Africa
               ...
383        Pakistan v India
384     India v New Zealand
385        India v Pakistan
386           Kenya v India
387           Kenya v India
Name: Debut Team, Length: 204, dtype: object