In [46]:
import numpy as np 
import pandas as pd 
import datetime

fl = pd.read_csv('all_player.csv')

In [47]:
fl['Date of birth'] = pd.to_datetime(fl['Date of birth'])
fl

,Name,Date of birth,Team,Batting Style,Bowling Style,ODI Debut,Debut Team,Matches played,Innings,Total Run,Not Out,Highe Score,Batting Avg,Balls faced,Stick rate,100s,50s,4s,6s,Caught,Stumped,Balls,Runs,Wickets,Bowling Avg,Economy,Stick rate.1,5WI,10WM,BBI,BBM
0,Aaron James Redmond,1979-09-23,NEW ZEALAND,Right-hand bat,Leg-break,"October 3,2009",New Zealand v Pakistan,6,6,152,0,52,25.33,259,58.68,0,1,19,0,3,0,--,--,--,--,--,--,--,--,NaN,NaN
1,Adam Fraser Milne,1992-04-13,NEW ZEALAND,Right-hand bat,Right-arm fast,"November 10,2012",Sri Lanka v New Zealand,40,17,168,7,36,16.80,165,101.8,0,0,11,4,21,0,1801,1581,41,38.56,5.267,43.92,0,0,1/8,1/8
2,Adam Craig Parore,1971-01-23,NEW ZEALAND,Right-hand bat,NaN,"October 31,1992",Zimbabwe v New Zealand,179,161,3314,32,108,25.68,4867,68.09,1,14,169,36,116,25,--,--,--,--,--,--,--,--,NaN,NaN
3,Alex Ross Tait,1972-06-13,NEW ZEALAND,Right-hand bat,Right-arm medium,"October 24,1998",New Zealand v Zimbabwe,5,5,35,2,13*,11.66,32,109.3,0,0,2,1,--,--,120,88,3,29.33,4.400,40.00,0,0,2/37,2/37
4,Andre Ryan Adams,1975-07-17,NEW ZEALAND,Right-hand bat,Right-arm fast-medium,"April 10,2001",New Zealand v Sri Lanka,42,34,419,10,45,17.45,417,100.4,0,0,31,18,8,0,1885,1643,53,31.00,5.229,35.56,1,0,5/22,5/22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1962,Victor James Marks,1955-06-25,ENGLAND,Right-hand bat,Off-break,"May 30,1980",England v West Indies,34,24,285,3,44,13.57,434,65.66,0,0,16,0,8,0,1838,1135,44,25.79,3.705,41.77,2,0,5/20,5/20
1963,Vikram Singh Solanki,1976-01-04,ENGLAND,Right-hand bat,Off-break,"January 23,2000",South Africa v England,51,46,1097,5,106,26.75,1502,73.03,2,5,135,7,16,0,111,105,1,105.0,5.675,111.0,0,0,1/17,1/17
1964,Vincent John Wells,1965-06-08,ENGLAND,Right-hand bat,Right-arm medium,"January 10,1999",Australia v England,9,7,141,0,39,20.14,253,55.73,0,0,8,2,7,0,220,189,8,23.62,5.154,27.50,0,0,3/30,3/30
1965,Wayne Larkins,1953-11-22,ENGLAND,Right-hand bat,Right-arm medium,"June 20,1979",England v New Zealand,25,24,591,0,124,24.62,1047,56.44,1,0,66,2,8,0,15,22,0,--,8.800,--,0,0,0/1,0/1
1966,Wilfred Norris Slack,1954-12-12,ENGLAND,Left-hand bat,Right-arm medium,"March 4,1986",West Indies v England,2,2,43,0,34,21.50,85,50.58,0,0,5,1,--,--,--,--,--,--,--,--,--,--,NaN,NaN

In [48]:
fl['Debut Team'] = fl['Debut Team'].str.lower()
deb = fl['Debut Team'].apply(lambda x: x.split(' v '))

In [49]:
fl['Team'] = fl['Team'].str.lower()
k = iter(range(fl.shape[0]))
def te(x):
    global k
    if x[0] == (fl['Team'][next(k)]):
        return x[1]
    else:
        return x[0]
    
fl['Debut Team']= deb.apply(te)
#a = fl['Debut Team'][1962][0]
#b = fl['Team'][1962]
fl['Debut Team']

0           pakistan
1          sri lanka
2           zimbabwe
3           zimbabwe
4          sri lanka
            ...
1962     west indies
1963    south africa
1964       australia
1965     new zealand
1966     west indies
Name: Debut Team, Length: 1967, dtype: object

In [50]:
pd.set_option('display.max_columns', 31)
pd.set_option('display.max_rows', 50)

In [51]:
fl['Highe Score'] = fl['Highe Score'].str.replace('*','')

In [52]:
def rep(x, a, b, c):
    if c == True:
        pass
    return x.replace(a,b)

fl = fl.apply(rep, args=('--','0', False ))
fl = fl.apply(rep, args=('NaN','0', False ))

In [53]:
fl.fillna(value=0, inplace=True)
Dat = fl['ODI Debut'].str.replace(',', '-') 
fl['ODI Debut'] = pd.to_datetime(Dat)

In [54]:
cols = fl.columns[7:-2]

fl[cols] = fl[cols].apply(pd.to_numeric)

#fl[fl['Bowling Style'] == 0]
fl['Bowling Style'] = fl['Bowling Style'].map(lambda s: str(s).replace('0', 'Not-Bowled')) 
fl['Batting Style'] = fl['Batting Style'].map(lambda s: str(s).replace('0', 'Right-hand bat')) 


#fl.to_csv('all_odi_players.csv', index = False)

In [55]:
ODI = pd.read_csv('all_player.csv')
#ODI.groupby('Team').count()
ODI.shape

(1967, 31)

In [56]:
ODI.groupby('Team').count()

,Name,Date of birth,Batting Style,Bowling Style,ODI Debut,Debut Team,Matches played,Innings,Total Run,Not Out,Highe Score,Batting Avg,Balls faced,Stick rate,100s,50s,4s,6s,Caught,Stumped,Balls,Runs,Wickets,Bowling Avg,Economy,Stick rate.1,5WI,10WM,BBI,BBM
Team,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
AFGHANISTAN,32,32,32,29,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,23,23
AUSTRALIA,205,205,205,177,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,147,147
BANGLADESH,109,109,109,91,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,75,75
ENGLAND,234,234,234,223,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,234,160,160
HONG KONG,30,30,30,26,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30,12,12
INDIA,204,204,204,186,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,204,143,143
IRELAND,41,41,41,36,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,41,27,27
NETHERLANDS,61,61,60,54,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,44,44
NEW ZEALAND,184,184,184,166,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,184,130,130
PAKISTAN,198,198,198,189,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,198,143,143
SCOTLAND,53,53,53,44,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,53,30,30
SOUTH AFRICA,115,115,115,112,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,115,91,91
SRI LANKA,163,163,163,146,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,163,118,118
UNITED ARAB EMIRATES,49,49,49,43,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,27,27
WEST INDIES,172,172,171,159,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,172,122,122
ZIMBABWE,117,117,117,111,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,92,92

In [57]:
fl[fl['Team'] == 'india'].loc[:,['Team', 'Debut Team']]

      Team    Debut Team
184  india     australia
185  india    bangladesh
186  india   west indies
187  india    bangladesh
188  india  south africa
..     ...           ...
383  india      pakistan
384  india   new zealand
385  india      pakistan
386  india         kenya
387  india         kenya

[204 rows x 2 columns]

In [58]:
ODI['Debut Team'][184:388]

184       Australia v India
185      Bangladesh v India
186     West Indies v India
187      Bangladesh v India
188    India v South Africa
               ...
383        Pakistan v India
384     India v New Zealand
385        India v Pakistan
386           Kenya v India
387           Kenya v India
Name: Debut Team, Length: 204, dtype: object